body {
   background-color: #113944;
   
}
.card{
    cursor: pointer;
}

#modal-body{
    display: none;
}

.button{
    background-color: #0a0625;
    color: white;
    font-weight: 700;
    border: none;
    padding:11px 20px;
    
}