body {
    background-color: rgb(7, 24, 0);
   
}
.card{
    cursor: pointer;
}

#modal-body{
    display: none;
}


.button{
    background-color:#596f00;
    color: white;
    font-weight: 700;
    border: none;
    padding:11px 20px;
    
}